@font-face{
    font-family: japan;
    src: url(./fonts/3856NeueMachina.woff2)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,
body{
    height: 100%;
    width: 100%;
}
.section{
    height: 100%;
    width: 100%;
    position: relative;
}

/* nav start */
nav{
    display: flex;

    align-items: center;
    justify-content: space-between;
   padding: 50px 100px;
}
nav h1{
    font-size: 40px;
  
}
nav h1 i{
    rotate: 35deg;
    display: inline-block;
    font-size: 45px;
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
padding: 15px 30px;
font-size: 20px;
background-color: transparent;
font-weight: 600px;
border-radius: 10px;
border: 1px solid black;
}
/* nav end */
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.center{
    padding: 60px 100px;
    height: 85%;
    width: 100%;
    display: flex;
}
.center-part1{
    height: 100%;
    width: 44%;
}

.center-part1 h1{
    line-height: 1.2;
    font-size: 50px;
    font-family: japan;
}
.center-part1 p{
margin-top: 30px;
    width: 80%;
    margin-bottom: 20px;
}
.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 22px 40px;
    font-weight: 600;
    border: none;
}
/* part 1 end */
.center-part2{
    position: relative;
    height: 100%;
    width: 56%;
}
.center-part2 img{
    right: 0;
    position: absolute;
    height: 100%;
}
/* end here */

/* bottom1  */
.section1bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 110px;
}
/* section 1 end */

.section1 .services{

background-color: aqua;
}